
main {
  margin: 200px 0px 0px 0px;
  padding: 300px 0px 300px 0px;  
}

.google-logo {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: -280px;

 
}

.search-bar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 30px auto;
    width: 482px;

    justify-content: center;
    align-items: center;

}

.search-bar:hover {
  box-shadow: 0 0 0 2px rgba(228, 228, 228, 0.541);
  transition: all, 200ms, ease-out;
}

.form {
  width: 380px;
  border: 0px solid #ffffff;

  font-size: 16px;

}

input[type="search"], textarea, select {
  outline: none;
}

input[type="search"]::-webkit-search-cancel-button{
  padding-right: 10px; 
  margin-left: 10px;
}

.search-icon {
  display: flex;
  justify-content: flex-start;

  margin-right: 10px;
}

.mic-icon {
  display: flex;
  border-left: 1px solid #dbdbdb70;

  padding-left: 15px;
}

.buttons {
  display: flex;
  justify-content: center;


  margin-left: 770px;
  margin-right: 770px;
  margin-top: 0px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 150px;

  border: none;
  font-size: 14px;
  color: #5F6368;
  border-radius: 4px;
}

.button:hover {
  border: 1px solid #949494d3;
  color: #000000; 
}

.button-1 {
  margin-right: 5%;
}
